<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>Finder Profile</title>
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
                integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="../resources/css/style.css" />

    </head>
</head>
<body>
<div class="container-fluid">
    <header>
        <nav
                class="navbar navbar-expand-lg navbar-light bg-custom d-flex flex-column"
        >
            <div class="row col-12">
                <a class="navbar-brand" href="#"
                ><img src="../resources/images/logo.png"
                /></a>

                <form class="form-inline my-2 my-lg-0 col-lg-7">
                    <input
                            class="form-control mr-sm-2 navbar__input col-lg-6 my-2"
                            type="search"
                            placeholder="I'm  searching"
                            aria-label="Search"
                    />
                    <select
                            name="nav-selection"
                            class="form-control navbar__selection font-weight-bold mr-sm-2 my-sm-2"
                    >
                        <option value="">Vacancies</option>
                        <option value="">Curriculum Vitae</option>
                        <option value="">Companies</option>
                    </select>
                    <button
                            class="col-lg-auto btn btn-warning my-2 my-sm-0 font-weight-bold form-control"
                            type="submit"
                    >
                        Search
                    </button>
                </form>

                <div class="languages col-auto ml-auto">
                    <select
                            class="navbar__selection form-control font-weight-bold"
                            name="language"
                    >
                        <option value="eng">english</option>
                        <option value="rus">русский</option>
                        <option value="kaz">kazaq</option>
                    </select>
                </div>
            </div>

            <div class="col-12 mt-4">
                <ul class="d-flex navbar__list flex-lg-row flex-column p-0">
                    <a class="mr-5"><li>Favourite</li></a>
                    <a class="mr-5"><li>CV</li></a>
                    <a class=""><li>Home</li></a>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="m-con d-flex flex-lg-row flex-column pt-4">
            <div class="l-m-con col-xl-2 col-lg-2 col-md-5 col-sm-5 pt-4 pr-5 pl-5 pb-5">
                <div class="d-flex flex-column">
                    <h2>My Events</h2>
                    <ul>
                        <li><i class="fa fa-envelope-o  fa-2x" aria-hidden="true"></i> <a href="#">Invitations</a></li>
                        <li><i class="fa fa-commenting-o  fa-2x" aria-hidden="true"></i> <a href="#">Replies</a></li>
                        <li><i class="fa fa-eye fa-2x" aria-hidden="true"></i> <a href="#">Views Resume</a></li>
                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i> <a href="#">Favourites</a></li>
                    </ul>
                </div>
            </div>
            <div class="r-m-con col-xl-10 col-lg-10 col-md-10 col-sm-9 col-10 mr-lg-4">
                <div class="container ml-0 h-100 d-flex flex-lg-row flex-column mr-sm-0 col">
                    <div class="profile-l-sub-con col-xl-4 border-rad pt-3 pb-7">
                        <div>
                            <div class="photo">
                                <img class="personPhoto" alt="" src="../resources/images/profileAvatar.jpg">
                            </div>
                            <div class="profile-heading pb-3">
                                <h2>Johny Ive</h2>
                                <p>Designer</p>
                            </div>
                        </div>
                        <div class="profile-l-sub-con-info">
                            <p class="profile-contact"><i class="fa fa-address-card fa-lg" aria-hidden="true"></i>Contacts</p>
                            <div class="profile-border-contact border-rad pt-2 pb-2 pr-2 pl-4 d-flex flex-column">
                                <p><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>+7071234567</p>
                                <p><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>qwer.ty@gmail.com</p>
                            </div>
                            <p>
                                <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>Almaty / District
                            </p>
                        </div>

                    </div>
                    <div class="profile-r-sub-con col-xl-8 pl-lg-5">
                        <div class="profile-r-sub-con-up d-flex flex-lg-row flex-column">
                            <div class="r-sub-separator">
                                <h4><i class="fa fa-book fa-lg" aria-hidden="true"></i>Education</h4>
                                <div class="border-rad pl-4 pr-3 pt-2 pb-2">
                                    <p>Educational institution: IITU</p>
                                    <p>Specialization: CSSE</p>
                                    <p>Year of ending: 2022</p>
                                </div>
                            </div>
                            <div class="r-sub-separator">
                                <h4><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>Skills</h4>
                                <div class="border-rad pl-5 pr-3 pt-2 pb-2">
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Photoshop</li>
                                        <li>Illustrator</li>
                                        <li>Java</li>
                                        <li>JavaScript</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="r-sub-separator">
                                <h4><i class="fa fa-language fa-lg" aria-hidden="true"></i>Languages</h4>
                                <div class="border-rad pl-5 pr-3 pt-2 pb-2">
                                    <ul>
                                        <li>Russian - A1</li>
                                        <li>Kazakh - A1</li>
                                        <li>English - B2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="profile-r-sub-con-down pt-5">
                            <h4><i class="fa fa-user-secret fa-lg" aria-hidden="true"></i>About me / Why me?</h4>
                            <div class="border-rad d-flex flex-lg-row flex-column pt-5 pb-4 pl-4 pr-4">
                                <div class="b-dotted-right pr-5">
                                    <p>
                                        When I feel bad, I start to be silent. To me
                                        easier, to lock the pain in yourself. Without causing
                                        harm to another. Don't give a damn that she's slow
                                        eats me from the inside. One of my downsides is
                                        I forgive people what is not forgiven, and
                                        I take offense at the most ordinary little things.
                                    </p>
                                </div>
                                <div class="pl-3">
                                    <p>
                                        When I feel bad, I start to be silent. To me
                                        easier, to lock the pain in yourself. Without causing
                                        harm to another. Don't give a damn that she's slow
                                        eats me from the inside. One of my downsides is
                                        I forgive people what is not forgiven, and
                                        I take offense at the most ordinary little things.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    <div class="footer mt-5">
        <div class="d-flex flex-column">
            <ul class="d-flex mt-4">
                <a href="#"><li class="b-right">For Employers</li></a>
                <a href="#"><li class="ml-2">Price-list</li></a>
            </ul>
            <ul class="d-flex">
                <a href="#"><li class="b-right">For office-seekers</li></a>
                <a href="#"><li class="b-right ml-2">CV promition</li></a>
                <a href="#"><li class="ml-2">Work in another cities</li></a>
            </ul>
            <ul class="d-flex">
                <a href="#"><li class="b-right">Advertisement</li></a>
                <a href="#"><li class="ml-2">Our vacancies</li></a>
            </ul>
            <ul>
                <li>Today on the website: 0 Vacancies, 0 CVs, 0 Companies</li>
            </ul>
        </div>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"
></script>
</body>
</html>